@import "../../styles/variables.scss";

.user_output {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	align-items: center;
	text-align: center;

	span {
		position: relative;
		cursor: copy;

		&:hover {
			samp,
			svg path {
				fill: $color-primary;
				color: $color-primary;
			}
		}
		samp {
			width: fit-content;
			padding: 3px 6px;
			border-radius: 6px;
			background: #232328;
		}
		svg {
			position: absolute;
			right: -1.5rem;
			top: 50%;
			transform: translateY(-50%);

			path {
				fill: $color-white;
			}
		}
	}
}
