.btn {
	width: fit-content;

	cursor: pointer;
	color: #ececec;
	background: transparent;
	border: 1px solid #98ec65;
	border-radius: 6px;
	padding: 10px 20px;

	font-family: inherit;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	outline: none;

	transition: all 0.2s;

	&:hover:not(&:disabled),
	&:focus:not(&:disabled) {
		color: #98ec65;
		border-radius: 10px;
	}

	&:active:not(&:disabled) {
		background: #98ec65;
		border-radius: 10px;
		color: #100f13;
	}

	&:disabled {
		color: #ececec;
		cursor: wait;
	}
}
