@import "./variables.scss";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body,
#__next {
	max-width: 100vw;
	overflow-x: hidden;
	font-size: 16px;
	background: $bg-color;
	color: $text-color;
	min-height: 100vh;
}

#__next {
	display: flex;
	flex-direction: column;
}

*::-webkit-scrollbar {
	max-width: 10px;
	min-width: 1px;
}

*::-webkit-scrollbar-track {
	background-color: #100f13;
}

*::-webkit-scrollbar-thumb {
	background-color: #313131;
	border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #98ec65;
}

*::-webkit-scrollbar-corner {
	background-color: #100f13;
}

a {
	color: inherit;
	text-decoration: none;
}

header,
footer {
	flex: 0 0 auto;
}

main {
	flex: 1 0 auto;

	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 2rem;
	padding: 0 1rem;

	.user_input {
		margin-top: 4.35rem;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 50rem;
		row-gap: 2rem;

		.form {
			&_row {
				display: flex;
				width: 100%;
				gap: 1.25rem;

				&.form_options {
					width: 100%;
					* {
						max-width: 12.75rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	main {
		.user_input {
			.form {
				&_row {
					flex-direction: column;
				}
			}
		}
	}
}
