* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body,
#__next {
	max-width: 100vw;
	overflow-x: hidden;
	font-size: 16px;
	background: #100f13;
	color: #dcdcdc;
	min-height: 100vh;
}

#__next {
	display: flex;
	flex-direction: column;
}

a {
	color: inherit;
	text-decoration: none;
}

header,
footer {
	flex: 0 0 auto;
}

main {
	flex: 1 0 auto;

	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 2rem;
	padding: 0 1rem;

	.user_input {
		margin-top: 4.375rem;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1.25rem;
	}
}

@media screen and (max-width: 540px) {
	main {
		.user_input {
			flex-direction: column;
		}
	}
}
