.text_input {
	transition: 0.2s;
	background: transparent;
	border-radius: 6px;
	padding: 8px 12px;

	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #ececec;
	border: 2px solid #323237;
	outline: none;

	max-width: 360px;
	width: 100%;

	&:focus {
		background: #323237;
	}

	&__error {
		border: 2px solid #ff8d8d;
	}
}
