.text_input {
	transition: 0.2s;
	background: transparent;
	border-radius: 6px;
	padding: 8px 12px;

	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #ececec;
	border: 1px solid #323237;
	outline: none;

	max-width: 560px;
	width: 100%;

	&:hover:not(:focus) {
		border: 1px solid #909090;
	}

	&:focus {
		background: #323237;
	}

	&__error {
		&,
		&:hover:not(:focus) {
			border: 1px solid #ff8d8d;
		}
	}
}
