@import "../../styles/variables.scss";

.dropdown {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 0.625rem;
	position: relative;

	label {
		font-size: 12px;
		line-height: 17px;
		color: $color-white;
	}

	&_input {
		cursor: pointer;

		display: block;

		font-weight: 400;

		transition: 0.2s;
		background-color: $bg-color;

		outline: none;
		width: 100%;

		&.small {
			font-size: 16px;
			line-height: 19px;

			border: 1px solid $colot-dark-gray;
			background: $colot-dark-gray;
			color: $color-white;
			border-radius: 1em;
			padding: 7px 12px;

			&::placeholder {
				color: $color-white;
			}

			&:hover:not(:focus) {
				border: 1px solid $color-gray;
				background: $color-gray;
			}

			&:focus {
				background: $bg-color;
				border-radius: 10px;
				border: 1px solid $colot-light-gray;
			}
		}

		&__error {
			&,
			&:hover:not(:focus) {
				border: 1px solid #ff8d8d;
			}
		}
		~ button {
			position: absolute;
			right: 12px;
			bottom: 0;
			transform: translateY(-70%);
			background: transparent;
			border: none;
		}
	}

	input {
		cursor: auto;
	}

	.show_options {
		z-index: 100;
		display: block;
		position: absolute;
		top: calc(5px + 100%);
		width: 100%;

		list-style: none;

		background: $colot-dark-gray;
		border-radius: 6px;

		display: flex;
		flex-direction: column;
		padding: 4px;
		gap: 2px;

		li {
			cursor: pointer;
			padding: 5px;
			border-radius: 4px;

			transition: 0.2s;

			&:hover {
				background: #323237;
			}
		}
	}

	.hide_options {
		display: none;
	}
}
